﻿.filegeneration {
    font-size: 20px;
    border-right: 5px solid;
    padding-right: 4px;
    text-align: right;
    border-left: 0px;
    padding-left: 0px;
}

.li-language {
    margin-left: 40px;
    margin-right: auto !important;
}

.mr-auto.main-nav {
    margin-right: 0px !important;
}

@media (min-width: 544px) {
    .col-sm-offset-2 {
        margin-right: 16.6666666667%;
        margin-left: auto;
    }
}

.btncreate {
     margin-right: 33%;
    margin-left: auto;
}

#divexceluploadbtn .btncreate {
    margin-right: 50%;
     margin-left: auto;
}

.nav-item {
    min-width: 152px !important;
}
