﻿@using RB.Portal.Web.App_LocalResources;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_RBMaster.cshtml";
}

<div class="container regpanel">    
    <div class="row">        
        <div class="col-sm-6">
            <div class="card" style="margin: 5px auto;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">@GlobalRes.NewRegisteration</h5>
                    <p class="card-text">@GlobalRes.NewRegisterationBody</p>
                    <a href="@Url.Action("Add", "Registration")" class="btn btn-primary btn-registration" id = "btnRegistration">@GlobalRes.Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="margin: 5px auto;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">@GlobalRes.ExistingRegisteration</h5>
                    <p class="card-text">@GlobalRes.ExistingRegisterationBody</p>
                    <a href="@Url.Action("Edit", "Registration")" class="btn btn-primary btn-registration">@GlobalRes.Generate</a>
                </div>
            </div>
        </div>
    </div>
</div>

