﻿@using RB.Portal.Web.App_LocalResources;
@using RB.Portal.Web.Helper
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    var language = culture != null && culture.Name.Equals("ar") ? "ar" : "en";
  //  var dir = language == "ar" ? "direction: rtl" : "";
}
<header>


    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">
            <img src="/Assets/images/Riyad_Bank_logo.svg" height="50" alt="">
        </a>
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" 
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample09" style="">
            <ul class="navbar-nav mr-auto main-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/@language">@GlobalRes.Home <span class="sr-only">(@GlobalRes.current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.riyadbank.com/@language/about-us">@GlobalRes.About</a>
                </li>               
            </ul>
            <ul class="navbar-nav mr-auto li-language">
                @Url.LangSwitcher(GlobalRes.English, ViewContext.RouteData, "en")
                @Url.LangSwitcher(GlobalRes.Arabic, ViewContext.RouteData, "ar")
            </ul>
                <div class="form-inline my-2 my-md-0">
                    <span class="filegeneration">@GlobalRes.FileGeneration</span>
                </div>
        </div>
    </nav>
</header>
