﻿<!DOCTYPE html>
@{  
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    var language = culture != null && culture.Name.Equals("ar") ? "ar" : "en";
    var dir = language == "ar" ? "direction: rtl" : "";
    }
<html class="mainhtmltag" lang="@language">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
@if (language.Equals("ar"))
{
    <link href="~/Assets/css/ar/bootstrap.css" rel="stylesheet" />
}
else
{
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assets/css/screen.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/override.css" rel="stylesheet" />
   
    @if (language.Equals("ar"))
    {
        <link href="~/Assets/css/ar/override.css" rel="stylesheet" />
    }


   
    
</head>
<body style="@dir">
    @Html.Partial("_Header") 
    <div class="divmaincontainer">
        @*<div class="container divmaincontainer">*@
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
        <script src="~/Assets/js/bootstrap.js"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>*@

        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

        @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="~/Assets/js/jquery.alphanum.js"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>*@
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <script src="~/Assets/js/jquery.blockUI.js"></script>
        <script src="~/Assets/js/Custom.js"></script>
</body>
</html>
