﻿
@using RB.Portal.Web.App_LocalResources;
@model RB.Portal.Web.Models.Registration
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_RBMaster.cshtml";


    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    var language = culture != null && culture.Name.Equals("ar") ? "ar" : "en";
}
<div class="divmainheader">
    <h2>@GlobalRes.Registration</h2>
</div>
<section id="loginform" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container pnlregistration divregistration">
            <div class="divRegMsg controlhide">
                <div class="alert alert-success ">
                    <strong>@GlobalRes.SuccessMsg</strong>
                </div>
                <a class="btn btndownload" href=""><i class="fa fa-download"></i>&nbsp;@GlobalRes.Download</a>
            </div>

            <div class="errorList controlhide">
                <ul id="list"></ul>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">                   
                    <form data-ajax="true" data-ajax-method="POST" onsubmit="" enctype="multipart/form-data" id="frmRegistration" class="">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <input type="hidden" name="Language" value="@language" />
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.JobType, Model._JobTypeListItems, new { @id = "JobType", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.WBSCompatibity, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.WBSCompatibity, Model._WBSListItems, new { @id = "WBSCompatibity", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WBSCompatibity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.RSDCompatibity, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.RSDCompatibity, Model._RSDListItems, new { @id = "RSDCompatibity", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RSDCompatibity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @id = "company-name", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @id = "CustomerName", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AgremeentCode, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.AgremeentCode, new { htmlAttributes = new { @id = "AgremeentCode", @class = "form-control alphanum-fields-8" } })
                                @Html.ValidationMessageFor(model => model.AgremeentCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.FundingAccount, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.FundingAccount, new { htmlAttributes = new { @id = "FundingAccount", @class = "form-control fundingaccount-numeric-fields" } })
                                @Html.ValidationMessageFor(model => model.FundingAccount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.BranchNo, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.BranchNo, new { htmlAttributes = new { @id = "BranchNo", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.MinsOfLabEstablishedId, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.MinsOfLabEstablishedId, new { htmlAttributes = new { @id = "MinsOfLabEstablishedId", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MinsOfLabEstablishedId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.CommerceRoomId, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.CommerceRoomId, new { htmlAttributes = new { @id = "CommerceRoomId", @class = "form-control fundingaccount-numeric-fields" } })
                                @Html.ValidationMessageFor(model => model.CommerceRoomId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row controlhide">
                            @Html.LabelFor(model => model.CreditDate, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type='text' class="form-control" name="CreditDate1" id="CreditDate" readonly />
                                    <img class="calimg" src="~/Assets/images/calendar.png" id="ValueCreditDate" />
                                    <input type='hidden' class="form-control" name="CreditDate" id="CreditDatehdn" readonly />
                                    @Html.ValidationMessageFor(model => model.CreditDate, "", new { @class = "text-danger" })
                                </div>
                               
                            </div>
                        </div>

                        <div id="divRsd" class="controlhide">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type='text' class="form-control" name="ValueDate111" id="ValueDate" readonly />
                                        <img class="calimg" src="~/Assets/images/calendar.png" id="ValueDate1" />
                                        <input type='hidden' class="form-control" name="ValueDate" id="ValueDatehdn" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @id = "DepartmentName", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DivisionNumber, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.DivisionNumber, new { htmlAttributes = new { @id = "DivisionNumber", @class = "form-control numeric-fields-3" } })
                                    @Html.ValidationMessageFor(model => model.DivisionNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SubDivisionNumber, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.SubDivisionNumber, new { htmlAttributes = new { @id = "SubDivisionNumber", @class = "form-control  numeric-fields-3" } })
                                    @Html.ValidationMessageFor(model => model.SubDivisionNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.SectorNumber, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.SectorNumber, new { htmlAttributes = new { @id = "SectorNumber", @class = "form-control  numeric-fields-2" } })
                                    @Html.ValidationMessageFor(model => model.SectorNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ClassNumber, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.ClassNumber, new { htmlAttributes = new { @id = "ClassNumber", @class = "form-control numeric-fields-3" } })
                                    @Html.ValidationMessageFor(model => model.ClassNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.PaymentOrderNumber, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.PaymentOrderNumber, new { htmlAttributes = new { @id = "PaymentOrderNumber", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaymentOrderNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.Currency, Model._CurrencyListItems, new { @id = "Currency", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.BankCode, htmlAttributes: new { @class = "col-sm-3 col-form-label req" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.BankCode, new { htmlAttributes = new { @id = "bank-code", @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.BankCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                       
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="button" value="@GlobalRes.GenerateProfile" class="btn btn-primary btncreate" id="btnRegAdd" style="" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>









