﻿@model RB.Portal.Web.Models.EditModel
@using RB.Portal.Web.Controllers
@using RB.Portal.Web.App_LocalResources
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_RBMaster.cshtml";

    var controller = ViewContext.Controller as RegistrationController;
    var jobtype = controller.GetJobTypes();
    var rsdcompatibility = controller.GetRsdList();
    var wbscompatibility = controller.GetWBSList();
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    var language = culture != null && culture.Name.Equals("ar") ? "ar" : "en";
}


<div class="divmainheader">
    <h2>@GlobalRes.GenerateFile</h2>
</div>

<section id="loginform" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container regedit">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <form action="" method="post" enctype="multipart/form-data" id="frmuploadexcel" class="">
                        <input type="hidden" name="Language" id="hdnlanguage" value="@language" />
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4 req" for="jobtype">@GlobalRes.SelectRole</label>
                            <div class="col-sm-8">
                                <select name="JobType" id="jobtypeedit" class="form-control">
                                    @foreach (var item in jobtype)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            </div>
                        @{
                            var isrsdvisible = "controlhide";
                            var iswbsvisible = "controlhide";

                            if (Model != null)
                            {
                                isrsdvisible = Model.JobType == "Government" ? "" : "controlhide";
                                iswbsvisible = Model.JobType == "Corporate" ? "" : "controlhide";
                            }
                        }

                        <div class="form-group row controlhide">
                            <label class="col-form-label col-sm-4  req" for="jobtype">@GlobalRes.WBSCompatibity</label>
                            <div class="col-sm-8">
                                <select name="WBSCompatibity" id="wbscompatibilityedit" class="form-control">
                                    @foreach (var item in wbscompatibility)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row controlhide">
                            <label class="col-form-label col-sm-4  req" for="jobtype">@GlobalRes.RSDCompatibity</label>
                            <div class="col-sm-8">
                                <select name="RSDCompatibity" id="rsdcompatibilityedit" class="form-control">
                                    @foreach (var item in rsdcompatibility)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div id="divexcelupload" class="form-group row controlhide">
                            <label class="col-form-label col-sm-4  req" for="file">@GlobalRes.Uploadfile</label>
                            <div class="col-sm-8">
                                <input type="file" name="file" id="file" class="form-control" />
                            </div>
                            </div>
                        <div id="divexceluploadbtn" class="form-group row controlhide">
                            <input type="button" value="@GlobalRes.Create" class="btn btn-primary btncreate" id="btnUploadfile" />
                        </div>
                    </form>

                    <div id="divtxtdownload" class="form-group controlhide">
                        <div class="alert alert-success ">
                            <strong>@GlobalRes.FileCreateSuccessMsg</strong>
                        </div>
                        <a class="btn btndownload" href="#" data-url=""><i class="fa fa-download"></i>&nbsp;@GlobalRes.Download</a>
                        <a class="btn btndownloadcls btndownloadAL" href="#" data-url="" target="_blank"><i class="fa fa-download"></i>&nbsp;@GlobalRes.DownloadAL</a>
                    </div>
                   
                    <div class="errorList controlhide">
                        <ul id="list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





